#container {
	margin: 25px auto;
	width: 950px;

}

body {
	background-color: #222222;
}
h3{
	font-family: "Snell Roundhand" sans-serif;
	font-size: 24px;
	padding: 0px;
	margin-top: 15px;
}

h3.contact{
	font-family: "Snell Roundhand" sans-serif;
	font-size: 26px;
	padding: 0px;
	margin-top: 15px;
	text-align: center;
}

h5 {
	font-family: "Snell Roundhand" sans-serif;
	font-size: 20px;
	padding: 0px;
	margin: 0px;
	display:inline;
	float: right;
	text-align: right;
}

h6 {
	font-family: Geneva;
	font-size: 18px;
	padding: 0px;
	margin: 0px;
}


h12 {
	font-size: 10.5px;
	font-style: italic;
	color: #767676;
}

input {
	color: black;
	background: #e8e8e8;
	border: 2.5px solid #65661d;
}
.submit {
	color: #000;
	font-size: 18px;
	font-family: "Snell Roundhand" sans-serif;
	background: #65661d;
	border: 2px outset #e8e8e8;
	cursor: pointer;
}

ul#moList{
	list-style-type: disc;
}
li.monthsList {
	display: block;
	
}

.javascript {
	float: left;
	text-align: left;
	margin-right: 140px;
	
}

#contact {
	float: right;
	margin-left: 390px;
	margin-top: none;
	font-family: Geneva;
	font-size: 20px;
	text-align: center;
	
	
}

textarea {
	color: black;
	background: #e8e8e8;
	border: 2.5px solid #65661d;
}
#slideShow {
	width: 500px;
	height: 260px;
	padding: 20px;
	text-align: center;
	border-radius: 6px;
	-webkit-box-shadow: 0px 0px 10px #333;
	background-color: black;
}
	
#header {
	text-align: center;
}
#navBar {
	font-family: Geneva sans-serif;
	position: relative;
	left: -21px;
	padding: none;
	font-size: 18px;
	color: #001b2a;
	margin-top: 0px;
	width: 942px;
	height: 30px;
	opacity: .85;
	background-color: #272728;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	text-align: center;
}

#mainSection {
	font-family: Geneva;
	background-image: url("final.png");
	background-position: left;
	background-repeat: no-repeat;
	font-size: 16px;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	height: 420px;
	width: 900px;
	background-color: white;
	border: 2px solid black; 
	border-bottom-left-radius: 5px;
	border-top-left-radius: 6.5px;
	border-top-right-radius: 6.5px;
	border-bottom-right-radius: 5px;
	border-top-width: 0px;
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

#text {
	float: right;
	margin-left: 390px;
	margin-top: none;
	
}
#form {
	float: right;
	margin-right: 200px;
	font-size: 14px;
	bottom: -20px;
}

#icons {
	float: right;
	padding-right: 7px;
}

li {
	display: inline;
	list-style-type: none;
}

#link {
	font-size: 16px;
	color: black;
	font-family: Geneva;
	text-decoration: underline;
	
}

a:link{
	color: white;
	font-style: normal;
	text-decoration: none;
	
}

a:visited {
	color: white;
	font-style: normal;
	text-decoration: none;

}
a:hover {
	color: #65661d;
	font-style: normal;
	text-decoration: none;
}



#footer {
	color: gray;
	padding-left: 94px;
	font-size: 12px;
	text-align: center;
	font-family: Geneva;
	-webkit-text-shadow: 4px 3px 6px rgba(0,0,0,0.4);
}
